.topo{
	background-image: url('../image/logo_fatec.png');
	width: 1024px;
	height: 500px;
	margin: 0 auto;
	margin-top:
}

div.topo li{
	background-color: #FFF;
	opacity: 0.3;
}

div.topo li a{
	text-decoration: none;
	display: inline-block;
}